run = "npx prisma migrate deploy && npx prisma generate && npm run build && cp -r .next/static .next/standalone/.next/ && cp -r public .next/standalone/ && cp -r app .next/standalone/ && cd .next/standalone && node server.js"
modules = ["nodejs-18:v18-20230807-bd784b9"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-22_11"

[env]
XDG_CONFIG_HOME = "/home/runner/.config"
PATH = "/home/runner/$REPL_SLUG/.config/npm/node_global/bin:/home/runner/$REPL_SLUG/node_modules/.bin"
npm_config_prefix = "/home/runner/$REPL_SLUG/.config/npm/node_global"
NEXT_TELEMETRY_DISABLED = "1"
PORT = "3000"
NODE_ENV = "production"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = true

[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[deployment]
build = ["sh", "-c", "npx prisma migrate deploy && npx prisma generate && npm run build && cp -r .next/static .next/standalone/.next/ && cp -r public .next/standalone/ && cp -r app .next/standalone/"]
run = ["sh", "-c", "cd .next/standalone && node server.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[hosting]
route = "/"

[[ports]]
localPort = 3000
externalPort = 80